.HomeFlag {
  width: 40%;
  height: 30%;
}

.detailContainer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  border-bottom: 1px solid white;
}

#detailsFlag {
  display: flex;
  justify-content: center;
}

#detailscolor {
  color: white;
}
