.HomeFlag {
  width: 40%;
  height: 30%;
}

.detailContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  padding: 2rem 0;
}

#detailsFlag {
  display: flex;
  justify-content: center;
}
