#world {
  width: 100%;
  height: 10rem;
}

#filterContainer {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

#form {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 0 0.5rem;
}

#heading {
  text-align: center;
  padding: 0.5rem 0;
}

#countriesContainer {
  display: grid;
  grid-template-columns: auto auto;
}

#searchInput {
  border: none;
}

input:focus {
  outline: none;
}

#horizontaldivider {
  width: 0.1px;
  height: 100%;
  border: 1px solid gray;
  margin: 0 0.3rem;
  background-color: gray;
}

#countriesFilter {
  border-radius: 1rem;
}
