.flagSize {
  width: 7rem;
  height: 5rem;
}

.homeFlag {
  display: flex;
  justify-content: space-around;
}

.countryName {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.countryPopulation {
  display: flex;
}

.countryLink {
  text-decoration: none;
  color: white;
}

.borders {
  border: solid 1px white;
  padding: 1rem;
}

.colon {
  margin: 0 0.2rem;
}
